.home_product-link {
    display: block;
}
#container_activity-2 {
    background-color: #f5f5f5;
    padding-top: 110px;
    margin-left: -68px;
    padding-bottom: 10px;
}
.home_product-item{
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    font-size: 20px;
    display: block;
    width: 135%;
    will-change: transform  ;
    cursor: pointer;
}
.home_product-item_pay-link {
    position: absolute;
    bottom: 2px;
    left: 69px;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 11px;
    width: 32%;
    height: 25px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: none;
}
.home_product-item-pay {
    list-style: none;
}
.home_product-item:hover  {
    transform: translateY(-1%);
    box-shadow: 20px 20px 50px rgba(128, 128, 128, 0.33);
} 
.home_product-item--has_buynow:hover .home_product-item_pay-link {
    display: block;
    cursor: pointer;
}

.home_product-item_img{
    height: 240px;
    width: 100%;
    padding: 12%;
}
.home_product-item_name {
    font-size: 12px;
    line-height: 1.5;
    color: #8b6e6e;
    margin-left: 17px;
    font-weight: 700;
    position: absolute;
    bottom: 74px;
}
.home_product-item_price{
    flex-wrap: wrap;
    display: flex;
    font-size: 15px;
    align-items: baseline;
}

.home_product-item_price_old{
    font-size: 10px;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 400;
}
.home_product-item_price_current{
    font-size: 14px;
    color: red;
    position: absolute;
    right: 57px;
}
.home_product-item_active{
    display: flex;
    line-height: 0;
}
.home_product-item_active-like{
    font-size: 13px;
    margin-left: 9px;
    transform: translateY(-38%);
}
.home_product-item-star{
    font-size: 8px;
    zoom: 1.1;
     transform: scale(0.7); 
    transform: translateY(-27%);
    cursor: pointer;
    color: #ccc;
    display: flex;
    margin-left: 10px;
    position: absolute;
    right: 53px;
    
}

.home_product-item-sold{
    font-size: 10px;
    color: red;
    font-weight: 300;
    padding: 10px;
    line-height: 0;
    transform: translateY(-54%);
    position: absolute;
    left: 158px;
}

.home_product-item_origin{
    display: flex;
    justify-content: space-between;
    margin: -8px 10px 6px 10px;
    color: #595959;
    font-size: 10px;
    font-weight: 300;
   
}

.home_product-item-favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: red;
    background-color: currentColor;
    font-weight: 500;
    line-height: 0.5;
    padding-right: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 6px;

}
.home_product-item-favourite-check {
    color: white;
    font-size: 15px;
    padding-right: 4px;
}
.home_product-item-favourite_love {
    color: white;
    font-size: 10px;
}
.home_product-item_sale-of{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 54px;
    color: #ffd840f0;
    background-color: currentColor;
    text-align: center;
    border-top-right-radius: 2px;
}
.home_product-item-value{
    color: red;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    position: relative;
    top: 2px;

}
.home_product-item-label{
    font-weight: 500;
    font-size: 8px;
    color: blue;
    position: relative;
    bottom: 20px;
}
.home_product-item_sale-of::after{
position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}
.home-filter_page-number_activi-2 {
    background-color: #4ba9e987;
    font-size: 15px;
    width: 3%;
    height: 34px;
    position: absolute;
    top: 165px;
    right: 293px;
    padding-left: 4px;
}
.fa-star::before {
    content: "\f005";
    color: yellow;
}