.header {
    height: 133px;
    /* background-image: linear-gradient(0, #f73a27, #fe5430); */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
   background-color: rgb(228, 220, 239);
}
.header_nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0, #f73a27, #fe5430);
}   
.header_nav-list {
    list-style: none;                     
}
.header_nav-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
}
.header_nav-item,
.header_nav-item-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 0px 2px;
}

.header_nav-item-link:hover {
    color : rgba(23, 49, 179, 0.989);
    cursor: pointer;
    border-radius: 3px;
    background-color: burlywood;
   transition-duration: 3.5s;
   
}

.header_nav-item--strong {
    font-weight: 600;
}

.header_nav-item-link--separate_1::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 2.5px solid #d7bdbd;
    height: 12px;
    right: -5px;
    top: 12px;
}
.header_nav-item-link {
    text-decoration: none;
    color: var(--white-color);
}
.header_nav-item {
    color:whitesmoke;
}

.header_nav-log-img {
    width: 250px;
    height: 93px;
    position: absolute;
    background-repeat: no-repeat;
    top: 30%;
    left: 25px;
}
.header_nav-search-hide-on-mobile {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-right: 500px;
}
.header_nav_search_input {
    width: 400%;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
}

.header_notify {
    position: absolute;
    top: 135%;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
  
    transform-origin: calc(100% - 20px) top ;
    display:none;   
    right: 0px;
}
.header_notify::before{
    content: "";
    border-width: 25px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -40px;
   right: 20px;
}

.header_notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header_notify-header h3 {
    font-size: 15px;
    padding-left: 10px;
    line-height: 3;
    font-weight: 400;
    user-select: none;
    color: black;
    text-align: center;

}
.header_nav-item--has_header_notify:hover .header_notify {
    display: block;
}
.header_notify-list {
   display: inline-block;
}
.header_notify-item{
    list-style: none;
    background-color: rgb(241, 235, 227);
}
.header_notify-item :hover {
   background-color: rgba(168, 201, 202, 0.626);
   cursor: pointer;
   color: black;
}

.header_notify-link{
    display: flex;
    text-decoration: none;

}
.header_notify-img{
    width: 100px;
    padding-left: 10px;
    object-fit: contain;
}
.header_notify-info{
    font-size: 15px;
    color: black;
    padding-left: 10px;

}
.header_notify-name{
    text-decoration: none;

}
.header_notify-descriotion{
    display: block;
    font-size: 10px;
    line-height: 2;
    font-weight: 100;
    padding-bottom: 14px;
    color: rgba(0, 0, 0, 0.66);
}
.header_notify-footer {
    text-align: center;
    background-color: lightcyan;

}
.header_notifi-footer-btn {
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.header_notify-footer :hover {
    background-color: rgba(169, 244, 93, 0.542);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition-duration: 0.5s;
} 
.header_search-button {
    border: none;
    height: 27px;
    width: 40px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: red;
    position: absolute;
    right: 315px;
    bottom: 17px;
}
.fa-magnifying-glass::before {
    content: "\f002";
    color: white;
    top: 7px;
    left: 13px;
    position: absolute;
    font-size: 15px;
}
.fa-cart-shopping::before {
   content: "\f07a";
    position: absolute;
    right: 246px;
    top: 92px;
    font-size: 30px;
    color: white;
}
.fa-brands  {
    content: "";
    color: aliceblue;
    
}








