
.container_container {
    
    background-image: linear-gradient(0deg, rgb(247, 58, 39), rgb(254, 84, 48));
}
.container_category {
    margin-top: 133px;
    padding-left: 68px;
    background-color: rgb(211, 211, 211);
    width: 20%;
    height: 323px;

}
.container_category-heading {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(26 1 1 / 72%);
    margin-left: 26px;
    margin-bottom: 7px;
}

.container_category-list {
    text-align: center;
    padding-right: 62px;

}
.container_category-item {
    list-style: none;


}
.container_category-link {
    line-height: 2;
    color: #2283bf;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: roboto;
}
.container_category-link:hover {
    color: red;
    cursor: pointer;
    background-color: rgba(19, 132, 36, 0.53);  
    border-radius: 2px;
   
}
.container_category-item-font {
    color: red;
    font-size: 19px;
    border-bottom: 1px solid black;
    padding: 5px 16px;
    font-family: roboto;
    text-decoration: none;
}
.fa-list::before {
    content: "\f03a";
    font-size: 20px;
    position: absolute;
    left: 10px;
   top:145px;
}
.fa-arrow-down::before {
    content: "\f063";
    position: absolute;
    left: 70px;
    top: 194px;
    font-size: 16px;
    
}
.container_slider {
    display: flex;
    margin-top: 100px;
}
.slideshow {
	list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
    z-index: 10;
	
  }
  
  .slideshow li span { 
    position: absolute;
    width: 54%;
    height: 60%;
    top: 0px;
    left: 164px;
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 20s linear infinite 1s;
    margin-left: 310px;
    margin-top: 130px;
  
}
.container_slider-slideshow {
    
}
.slideshow li {
    list-style: none;
}

  .slideshow li:nth-child(1) span { 
	  background-image:url(../img/Quang_cao/quang_cao_12.webp); 
	  background-repeat: no-repeat;
      

  }
  .slideshow li:nth-child(2) span { 
	  background-image: url("../img/Quang_cao/quan_cao_tui_sach.png");
	  animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) span { 
	  background-image: url("../img/Quang_cao/quang_cao_10.jpg");
	  animation-delay: 26s; 
  }
  .slideshow li:nth-child(4) span { 
	  background-image: url("../img/Quang_cao/quang_cao_nike.png");   
	  animation-delay: 20s; 
  }
  .slideshow li:nth-child(5) span { 
	  background-image: url("../img/Quang_cao/quang_cao_9.png");
	  animation-delay: 25s; 
  }
  .slideshow li:nth-child(6) span {
	background-image: url("../img/Quang_cao/quang_cao_10.jpg");
	animation-delay: 30s; 
  } 
  .slideshow li:nth-child(7) span {
	background-image: url("../img/Quang_cao/quang_cao_son.png");
	animation-delay: 35s; 
  } 
  
  
  
  @keyframes imageAnimation { 
	  0% { opacity: 0; animation-timing-function: ease-in; }
	  8% { opacity: 1; animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
  }
  
  @keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
  }
  